html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #f7f7f7; /* Soft neutral background color */
    color: #333;
}

:root {
    --accent-color: #4CAF50;
}

.navbar {
    border-bottom: none !important;
}

.custom-navbar {
    background-color: #343a40 !important;  /*Dark gray navbar */
    padding: 1rem;
}

.custom-navbar button {
    padding: 9px;
    border: none;
    border-radius: 6px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.custom-navbar button:hover {
    background-color: #00d48c;
    transform: scale(1.05);
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: #eaeaea !important; /*Light grayish-white text */
    margin: 0 5px;
}

.custom-navbar .navbar-brand i {
    margin-right: 6px;
}

.custom-navbar .nav-link:hover {
    color: #ffffff !important;  /*Pure white on hover */
}

.btn-outline-light {
    border-color: #eaeaea;
    color: #eaeaea;
    transition: all 0.3s ease;
}

/* Headings and spacing */
h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: 600;
}

.btn-outline-light:hover {
    background-color: #eaeaea;
    color: #343a40;
}

.container-fluid {
    width: 90vw;
    margin-left: calc(-45vw + 50%);
}