body {
    background: url('/images/create-edit_exercise.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    color: #f0f0f0;
}

.fixing {
    max-width: 500px;
    margin: 80px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
}

    input[type="text"]:focus,
    select:focus,
    textarea:focus {
        outline: none;
        box-shadow: 0 0 5px cyan;
    }
